[Unit]
Description=SteamOS Manager cecd configurator
Before=cecd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/steamosctl configure-cecd

[Install]
WantedBy=cecd.service
